<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Amnesty_Hypercube.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Amnesty_Hypercube.Properties.Settings>
            <setting name="HypercubeVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrefLaunchHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrefNoClickImport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrefUISound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrefCreateSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultCube" serializeAs="String">
                <value>_Cube1</value>
            </setting>
            <setting name="LibraryImageHash" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LibraryCodeHash" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LibraryUpdate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Syndicate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SidebarXP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalMachineLockdown" serializeAs="String">
                <value>True</value>
            </setting>
        </Amnesty_Hypercube.Properties.Settings>
    </userSettings>
</configuration>