<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Amnesty_Hypercube.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Amnesty_Hypercube.Properties.Settings.HypercubeConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Hypercube.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Amnesty_Hypercube.Properties.Settings>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="InfoPanelVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SourcePanelWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
        </Amnesty_Hypercube.Properties.Settings>
    </userSettings>
</configuration>